/* tabs */

#tabs-tabbar-container {
    padding: 3px;
}

/* address, commands */

div.UrlBar-AddressField {
    margin: 5px !important;
    min-width: 95%;
}

div.quick-command-container {
    width: 650px;
}

/* borders */

div.tabbar-wrapper,
div#tabs-tabbar-container {
    border-radius: 10px;
}

div.tabbar-wrapper {
    border-radius: 10px;
    margin-left: 5px;
}

#webpage-stack {
    border-radius: 10px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

div.panels-listener-enabled #webpage-stack {
    border-radius: 10px;
    margin-left: 5px;
}

/* Start page */

.startpage .startpage-navigation {
    border-radius: 10px;
}

/* New tab button */

div.newtab {
    width: 100%;
}

div.newtab button[name="NewTab"]::after {
    content: "New tab";
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 100;
}

div.newtab span.button-icon {
    position: absolute;
    left: 0%;
}